html,
body {
    width: 100%;
    height: 100%;

}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (max-width: 991px) {
	
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
      box-shadow: 0px 2px 11px #000;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
   body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
	

}

@media (max-width: 339px) {
	.navbar-toggle{
		margin-right: 0px !important;
	}
	.logoTitle {
		margin-left: 5px !important;
	}

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
 font-size:19px;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

/*.nav li:hover, .nav li.active{
  border-bottom: #1C7398 3px solid;
}*/

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

.text-header{
    display: table-cell;
    text-align: center;
    vertical-align: top;
    color: #fff;
}
.background-pos{
	    vertical-align: middle;	
}
.brand a:visited, a:active{
	text-decoration: none;
	
}

.sponsor-title a:visited, a:active{
	text-decoration: none;
	
}


.text-header h1 {
    margin: 0;
    padding-top: 15px;
	padding-bottom: 15px;
    font-size: 2 em;
    font-weight: 400;
    color: #fff;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color:rgb(147, 1, 29);
	/*url(../img/bg.jpg) no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.background-image {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	position:center;


}
.btn-sponsor {
  background: #c39909;
  background-image: -webkit-linear-gradient(top, #c39909, #F4BF0B);
  background-image: -moz-linear-gradient(top, #c39909, #F4BF0B);
  background-image: -ms-linear-gradient(top, #c39909, #F4BF0B);
  background-image: -o-linear-gradient(top, #c39909, #F4BF0B);
  background-image: linear-gradient(to bottom, #c39909, #F4BF0B);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  border-color: rgba(0,0,0,0);
  font-family: Arial;
  color: #000000;
  font-size: 22px;
  padding: 6px 40px 6px 40px;
  text-decoration: none;
  vertical-align:top;
  position:center;
 /*-webkit-box-shadow: 2px 3px 5px #000;
  -moz-box-shadow: 2px 3px 5px #000;
  box-shadow: 2px 3px 5px #000;*/
}

.btn-sponsor:hover {
  background: #1c7398;
  background-image: -webkit-linear-gradient(top, #1c7398, #45B0DD);
  background-image: -moz-linear-gradient(top, #1c7398, #45B0DD);
  background-image: -ms-linear-gradient(top, #1c7398, #45B0DD);
  background-image: -o-linear-gradient(top, #1c7398, #45B0DD);
  background-image: linear-gradient(to bottom, #1c7398, #45B0DD);
  text-decoration: none;
  color: black;
}

.btn-download {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #FFF;
    font-size: 19px;
    background: #1c7398;
    padding: 3px 13px 3px 13px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

.btn-download:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.download-pack{
padding: 15px 0px 15px 0px;	
}

.download-pack img{
height: 40px !important;
width: auto !important;
margin-top: 0px !important;
}


.navbar-fixed-top .nav {
    padding: 10px 0;
	color: rgb(187, 142, 1);

}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
	
}

@media(min-width:991px) {
    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
	

}


@media(min-height:991px) {
    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.logo-img {
	height: 60px;
	width:auto;
}



.dropbtn {
    color: white;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline;
}

.align{
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.lang-img{
    height:25px;
    width:auto;
}

.navbar-lang-icon{
    float:right;
    padding:10px;
	margin-top: 9px;
}

.footer {
    padding: 20px 0;
    background-color: #1c7398;
    width:100%; 
    text-align:center;
    border-color: black;
    border-top: 1px solid;
	color: white;
}

.navbar{
	box-shadow: 0px 2px 11px #000 !important;
}
.link{
    color: black;
}

.link:hover {
    color:white;
}

.link2{
    color:#4A4A4A;
}

.link2:hover {
    color: #92001D;
}

.copyright {
    width:100%; 
    text-align:center;
    margin-top: 10px
}

.heading{
	margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.card{
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
    margin-bottom:10px;
    border-radius: 15px;

}

.card-img{
    width:100%;
    height:auto;
}

.card-info{
    height: 230px;
    text-align: center;
	
}

.card-info h1{
	color: black;
	padding-top: 2px;
	margin-bottom: 0px;
    margin-top: 0px;

}

.card-info h3{
    margin-top: 20px;
    color:black;
}

.brand{
    padding-left:10px;
    font-size: 40px;
    color:white;
}

.row{
    padding:10px;
}

.coming{
    color:white;
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content{
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
    text-align:center;
    border-radius: 15px;

}
.content p {
		color: black;

}

.content img{
    margin-top: 20px;
    width: 11%;
    height:auto;
}

.school-card{
    padding-top: 25px;
    padding-bottom: 25px;
	
}

.school{
    padding: 5px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    max-width:100%;
    width:250px;
    border-radius: 5px;
}

.subcategory{
	padding: 10px;
    text-align:center;
	color: black;
}

.navbar-inverse .navbar-nav > .close > a:focus {
  color: #fff;
  background-color:grey;
}
.logoTitle{
    margin: 18px;
}


@media (max-width: 991px) {
	
	a.nav-selected {
		/*background-color:grey!important;*/
	}
	.content p {
		text-align: center !important;
}
	.sponsor-title{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media (min-width: 992px) {
	
	a.nav-selected {
		border-bottom: #1C7398 2px solid !important;
	}
	
	.sponsor-title{
		padding-top: 30px;
		padding-bottom: 15px;
	}
}

.navbar-toggle {
	margin-top:17px !important;
}
@media (max-width: 360px) {
	
	.btn-sponsor {
		  font-size: 18px !important;
	}
}


.heading-subcat{
	margin-top: 0px !important;
}

