html,
body {
    width: 100%;
    height: 100%;

}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-header{
    display: table-cell;
    text-align: center;
    vertical-align: top;
    color: #fff;
}

.text-header h1 {
    margin: 0;
    padding-top: 15px;
	padding-bottom: 15px;
    font-size: 2 em;
    font-weight: 700;
    color: #fff;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color:rgb(147, 1, 29);
	/*url(../img/bg.jpg) no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header img {
     max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	position:center;
}
.navbar-fixed-top .nav {
    padding: 10px 0;
	color: rgb(187, 142, 1);

}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
	
}

@media(min-width:768px) {
    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
	

}
@media(max-width:768px) {
	.text-header{
		display: table-cell;
		text-align: center;
		vertical-align: top;
		color: #fff;
	}
	
   .text-header h1 {
		padding-top: 10px;
	   	padding-top: 72px;
		margin: 0;
		font-size: 1.5em;
		font-weight: 450;
		color: #fff;
	}

}

.logo-img {
	height: 60px;
	width:auto;
}

a.nav-selected{
    /*border-bottom: 2px solid #fff;*/
    padding-bottom: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid

}

.dropbtn {
    color: white;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.lang-img{
    height:25px;
    width:auto;
}

.navbar-lang-icon{
    float:right;
    padding:10px;
}

.footer {
    padding: 20px 0;
    background-color: #BC8D2D;
    width:100%; 
    text-align:center;
    border-color: black;
    border-top: 1px solid;
}

.link{
    color:#4A4A4A;
}

.link:hover {
    color:white;
}

.link2{
    color:#4A4A4A;
}

.link2:hover {
    color: #92001D;
}

.copyright {
    width:100%; 
    text-align:center;
    margin-top: 10px
}

.heading{
	margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.card{
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
    margin-bottom:10px;
    border-radius: 15px;

}

.card-img{
    width:100%;
    height:auto;
}

.card-info{
    height: 210px;
    text-align: center;
	
}

.card-info-bottom{
    height: 230px!important;	
}

.card-info h1{
	color: black;
	padding-top: 2px;
	margin-bottom: 0px;
    margin-top: 0px;

}

.card-info h3{
    margin-top: 20px;
    color:black;
}

.brand{
    padding-left:10px;
    font-size: 40px;
    color:white;
}

.row{
    padding:10px;
}

.coming{
    color:white;
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content{
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
    text-align:center;
    border-radius: 15px;

}
.content p {
		color: black;

}

.content img{
    width: 15%;
    height:auto;
}

.school-card{
    padding-top: 5px;
    padding-bottom: 5px;
}

.school{
    padding: 5px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    max-width:100%;
    width:250px;
    border-radius: 5px;
}

.subcategory{
	padding: 10px;
    text-align:center;
	color: black;

}