html,
body {
    width: 100%;
    height: 100%;

}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-header{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.text-header h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #fff;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background:url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-fixed-top .nav {
    padding: 10px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.logo-img {
	height: 60px;
	width:auto;
}

.nav-selected{
    /*border-bottom: 2px solid #fff;*/
    padding-bottom: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.lang-img{
    height:25px;
    width:auto;
}

.navbar-lang-icon{
    float:right;
    padding:10px;
}

.footer {
    padding: 20px 0;
    background-color: #BC8D2D;
    width:100%; 
    text-align:center;
    border-color: black;
    border-top: 1px solid;
}

.link{
    color:#4A4A4A;
}

.link:hover {
    color:white;
}

.link2{
    color:#4A4A4A;
}

.link2:hover {
    color: #92001D;
}

.copyright {
    width:100%; 
    text-align:center;
    margin-top: 10px
}

.heading{
	margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.card{
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
    margin-bottom:10px;
}

.card-img{
    width:100%;
    height:auto;
}

.card-info{
    height: 200px;
    text-align: center;
}

.card-info h1{
	color: black;
}

.card-info h3{
    margin-top: 10px;
    color:black;
}

.brand{
    padding-left:10px;
    font-size: 40px;
    color:white;
}

.row{
    padding:10px;
}

.coming{
    color:white;
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content{
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
    text-align:center;
}

.content img{
    width: 15%;
    height:auto;
}

.school-card{
    padding-top: 5px;
    padding-bottom: 5px;
}

.school{
    padding: 5px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    max-width:100%;
    width:250px;
    border-radius: 5px;
}